
# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Redis
dump.rdb

# Distribution / building
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Docker
.docker/

# Local/Private Keys
keys/
service_account_key.json
